@model IEnumerable<ReleasePDVViewModel>
@{
    ViewData["Title"] = "Detalhes da Versão";
    string Email = User.Identity.IsAuthenticated ? User.Claims.FirstOrDefault(x => x.Type == "email").Value : string.Empty;
}

@foreach (var item in Model)
{
    <div class="card">
        @foreach (var module in item.Modules)
        {

            <div class="card-header">
                <strong style="position: center;">@module.ModuleName (@module.Title)</strong>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (module.Feedbacks.Count() > 0)
                    {
                        <label style="position: center; float: right; margin: 0 5px">Feedback Enviado!</label>
                    }
                    else
                    {
                        <a asp-action="CreateFeedbackNegativePdv" asp-controller="Feedback" asp-route-id="@module.ModuleId" type="button" class="btn btn-danger" style="position: center; float: right; margin: 0 5px">
                            <i class="fa fa-thumbs-down"></i>&nbsp;
                        </a>
                        <a asp-action="CreateFeedbackPositivePdv" asp-controller="Feedback" asp-route-id="@module.ModuleId" type="button" class="btn btn-primary" style="position: center; float: right; margin: 0 5px">
                            <i class="fa fa-thumbs-up"></i>&nbsp;
                        </a>
                    }
                }
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label form-control-label">@module.Notes</label>
                </div>
            </div>
        }
    </div>
}
