@model IEnumerable<ReleasePowerServerViewModel>
@{
    ViewData["Title"] = "Detalhes da Versão";
}

@if (User.IsInRole(@Role.SuperControleAdmin))
{
    @foreach (var item in Model)
    {
        <div class="card">
            @foreach (var module in item.Modules)
            {

                <div class="card-header">
                    <strong style="position: center;">@module.ModuleName (@module.Title)</strong>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="DeleteModule" asp-controller="ReleasePowerServer" asp-route-id="@module.ModuleId" class="btn btn-danger" style="position: center; float: right; margin: 0 5px">
                            Excluir
                        </a>
                        <a asp-action="UpdateModules" asp-controller="ReleasePowerServer" asp-route-id="@module.ModuleId" class="btn btn-primary" style="position: center; float: right; margin: 0 5px">
                            Editar
                        </a>
                    }
                </div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label form-control-label">@module.Notes</label>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <partial name="_Credential" />
}
