@model X.PagedList.IPagedList<ReleasePowerServerViewModel>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole(@Role.SuperControleAdmin))
{
    <!-- modal small -->
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Versões</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                </div>
                <div class="table-data__tool-right">
                    <a asp-action="Create" asp-controller="ReleasePowerServer" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>add versão
                    </a>
                    <a asp-action="CreateModules" asp-controller="ReleasePowerServer" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>add notas
                    </a>
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>Release Id</th>
                            <th>Número de Versão</th>
                            <th>Data Lançamento</th>
                            <th>Notas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @foreach (var item in Model)
                            {
                                <tr class="tr-shadow">

                                    <td>@item.ReleaseId</td>
                                    <td>@item.VersionNumber</td>
                                    <td>@item.VersionDate</td>
                                    <td>@item.Modules.Count()</td>
                                    <td>
                                        <div class="table-data-feature">                                            
                                            <a asp-action="Update" asp-controller="ReleasePowerServer" asp-route-id="@item.ReleaseId" class="item" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a asp-action="Delete" asp-controller="ReleasePowerServer" asp-route-id="@item.ReleaseId" class="item" data-placement="top" data-toggle="tooltip" title="Excluir">
                                                <i class="zmdi zmdi-delete"></i>
                                            </a>
                                            <a asp-action="Update" asp-controller="ReleasePDV" asp-route-id="@item.ReleaseId" class="item" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
    </div>
    </div>

    @Html.PagedListPager(Model, pagina => Url.Action("IndexControlPainel", new { pagina }), new PagedListRenderOptions
{
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
})
}
else
{
    <partial name="_Credential" />
}