@model X.PagedList.IPagedList<FeedbackViewModel>

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Últimos Feedbacks</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Email</th>
                        <th>Detalhes</th>
                        <th>Data</th>
                        <th>Aberto Chamado</th>
                        <th>Status</th>
                        <th>Software</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var feed in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@feed.Username</td>
                            <td>@feed.Email</td>
                            <td>@feed.Details</td>
                            <td>@feed.Data</td>
                            @if (@feed.OpenCall == true)
                            {
                                <td>
                                    <span class="status--process">Sim</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="status--denied">Não</span>
                                </td>
                            }
                            @if (@feed.FeedbackPositive)
                            {
                                <td>
                                    <span class="status--process">Positivo</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="status--denied">Negativo</span>
                                </td>
                            }
                            @if (@feed.FeedbackFrom == FeedbackFrom.PDV)
                            {
                                <td>@Consts.PDV</td>
                            }
                            @if (@feed.FeedbackFrom == FeedbackFrom.PowerServer)
                            {
                                <td>@Consts.PowerServer</td>
                            }
                            <td>
                                <div class="table-data-feature">
                                    <a asp-action="Index" asp-controller="Call" asp-route-id="@feed.FeedbackId" class="item" data-toggle="tooltip" data-placement="top" title="Abrir Chamado">
                                        <i class="zmdi zmdi-settings"></i>
                                    </a>
                                    <a asp-action="DeleteFeedback" asp-controller="Feedback" asp-route-id="@feed.FeedbackId" class="item" data-placement="top" data-toggle="tooltip" title="Excluir">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                    <a asp-action="Detail" asp-controller="Feedback" asp-route-id="@feed.FeedbackId" class="item" data-toggle="tooltip" data-placement="top" title="Mais Informações">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions
{
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
})